{% extends "base.html" %}
{% block titulo %}
    ALterar Disciplina
{% endblock  %}

{% block conteudo %}
    <div class="">
<form action="/alterarDisciplina/{{id}}" method="POST">
    <label for="nome">Disciplina:</label>
    <input type="text" name="nome"></br>
    <label for="nota1">1ª Nota:</label>
    <input type="number" name="nota1"></br>
    <label for="nota2">2ª Nota:</label>
    <input type="number" name="nota2"></br>
    <label for="nota3">3ª Nota:</label>
    <input type="number" name="nota3"></br>
    <label for="nota4">4ª Nota:</label>
    <input type="number" name="nota4"></br>
    <button type="submit">Salvar</button>
  </form>
    </div>
{% endblock  %}